# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node =====
node_modules/
npm-debug.log*
yarn-error.log*

# ===== Environment =====
.env
.env.*
!.env.example

# ===== Build outputs =====
dist/
build/
.next/

# ===== PM2 =====
.pids
.pm2/logs
.pm2/pids

# ===== Editor =====
.vscode/
.idea/

# ===== CI temp files =====
key.pem
