name: Secret Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check secrets
        env:
          VPS_HOST: ${{ secrets.VPS_HOST }}
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_SSH_KEY: ${{ secrets.VPS_SSH_KEY }}
        run: |
          echo "HOST='${VPS_HOST}'"
          echo "USER='${VPS_USER}'"

          if [ -z "$VPS_SSH_KEY" ]; then
            echo "SSH_KEY=EMPTY"
          else
            echo "SSH_KEY=SET"
          fi
